/* Style global pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

/* Conteneur de la zone de connexion */
.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Style pour l'image du logo */
.logo {
    width: 100px; /* Ajuste la taille du logo selon tes besoins */
    margin-bottom: 20px;
}

/* Style des champs de saisie */
input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Style du bouton de soumission */
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Style du message d'erreur */
#error-message {
    color: red;
    display: none; /* Le message est caché par défaut */
}
